@model lab2.Models.Cliente
@{
    ViewData["Title"] = "FormClient";
}

<h1>FormClient</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Home" asp-action="SaveClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input name="Nombre" class="form-control" placeholder="Rolando" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input name="Apellido" class="form-control" placeholder="Ziller" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input name="Telefono" class="form-control" placeholder="58558409" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input name="Descripcion" class="form-control" placeholder="Trabajo" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
