
@{
    ViewData["Title"] = "GuardarAutosManual";
}

<h1>Auto Guardado</h1>
<div class="container">
    <h1>@ViewBag.saveplayersuccess</h1>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
    <div>
        <a asp-action="MostrarAutos">Listado de Autos</a>
    </div>
</div>
