@{
    ViewData["Title"] = "ImportarAutos";
}

<div class="text-center">
    <h1>Importacion Autos</h1>
</div>
<h5>

    Ingrese la direccion del Archivo:

</h5>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ImportarAutos">

    <input type="file" class="form-control-file" name="ArchivoCargado" />
    <br />
    <input type="submit" value="Agregar" class="form-control-file" />

</form>


<br />
<p>
    <a asp-action="Index" class="btn btn-outline-dark" role="button">Regresar</a>
</p>