@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-action="CargarAutos" class="btn btn-dark btn-lg btn-block" role="button">Cargar por archivo Autos</a>

<a asp-action="CargarAutosManual" class="btn btn-dark btn-lg btn-block" role="button">Cargar manual Autos</a>

<a asp-action="MostrarAutos" class="btn btn-dark btn-lg btn-block" role="button">Consultar Autos</a>

<a asp-action="BuscarAuto" class="btn btn-dark btn-lg btn-block" role="button">Buscar Autos</a>