
@{
    ViewData["Title"] = "SaveClient";
}

<h1>Cliente Guardado</h1>
<div class="container">
    <h1>@ViewBag.saveclientsuccess</h1>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
    <div>
        <a asp-action="ShowClient">Listado de Clientes</a>
    </div>
</div>
