
@{
    ViewData["Title"] = "SaveTeam";
}

<h1>Equipo Guardado</h1>
<div class="container">
    <h1>@ViewBag.saveteamsuccess</h1>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
    <div>
        <a asp-action="ShowTeam">Listado de Equipos</a>
    </div>
</div>

