@model lab2.Models.Jugador
@{
    ViewData["Title"] = "ImportCSV";
}

<h1>ImportCSV</h1>

<div class="text-center">
    <h1>Importacion CSV</h1>
    <h2>
        Liga MLS

    </h2>
</div>
<h5>

    Ingrese la direccion del Archivo:

</h5>


<form method="post" enctype="multipart/form-data" asp-controller="Jugadores" asp-action="ImportarCSV">

    <input type="file" class="form-control-file" name="ArchivoCargado" />
    <br />
    <input type="submit" value="Agregar" class="form-control-file" />

</form>